.wrapper {
    width: 60%;
    margin-top: 70px;
}

/* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Darker chat container */
.container_dark {
    border: 2px solid;
    border-color: #ccc;
    background-color: #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Clear floats */
.container::after, 
.container_dark::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container_dark img {
    float: right;
    max-width: 60px;
    width: 100%;
    margin-left: 20px;
    margin-right:0;
    border-radius: 50%;
}

/* Style time text */
.container span {
    float: right;
    color: #aaa;
}

/* Style time text */
.container_dark span {
    float: left;
    color: #999;
}

