@import url('https://fonts.googleapis.com');

.app {
    font-family: 'Open sans', sans-serif;
}

.wrapper {
    width: 1200px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}